out/**
tfw-pkg/**
archive/**
app_android/src/main/assets
frameworks/testfw/android/testfw-lib/src/main/java/net/kishonti/swig
frameworks/systeminfo/android/systeminfo-lib/src/main/java/net/kishonti/systeminfo/swig
frameworks/testfw/android/testfw-lib/build
app_android/src/

3rdparty/libepoxy/include/epoxy/egl_generated.h
3rdparty/libepoxy/include/epoxy/gl_generated.h
3rdparty/libepoxy/include/epoxy/glx_generated.h
3rdparty/libepoxy/include/epoxy/wgl_generated.h
3rdparty/libepoxy/src/egl_generated_dispatch.c
3rdparty/libepoxy/src/gl_generated_dispatch.c
3rdparty/libepoxy/src/glx_generated_dispatch.c
3rdparty/libepoxy/src/wgl_generated_dispatch.c
app_android/.gradle/
app_android/benchui-lib-corporate/build/
app_android/benchui-lib/build/
app_android/build.gradle
app_android/build/
app_android/customcomponents/build/
frameworks/platform-utils/android/platform-utils-lib/build/
frameworks/systeminfo/android/systeminfo-lib/build/
*.pyc
frameworks/cudaw/include/nvidia/

